@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-BoldItalic.woff2') format('woff2'),
    url('../fonts/Livvic-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-Bold.woff2') format('woff2'),
    url('../fonts/Livvic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-MediumItalic.woff2') format('woff2'),
    url('../fonts/Livvic-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/Livvic-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-Medium.woff2') format('woff2'),
    url('../fonts/Livvic-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-SemiBold.woff2') format('woff2'),
    url('../fonts/Livvic-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
body{
    font-family: 'Livvic',sans-serif;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
/* header-start */

.site-header{
    padding: 73px 0 0 0;
    background: #014E56;
}
.container{
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
}
.find{
    width: 1140px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.icon-logo{
    display: inline-block;
    vertical-align: middle;
}
.find__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-item{
    margin-left: 40px;
}
.header-list{
    margin-left: 40px;
    display: flex;
    text-align: center;
    list-style: none;
}
.header-navlink{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}
.header-navlink:hover{
    color: #F67E7E;
}
.find-link{
    cursor: pointer;
    width: 153px;
    height: 46px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    border: 2px solid #FFF;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    background-color: #014E56;
}
.hamburger-btn{
    display: none;
}
.find-link:hover{
    cursor: pointer;
    width: 153px;
    height: 46px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    border: 2px solid #014E56;
    color: #014E56;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    background-color: white;
}

/* header-end */


/* hero-section-start */

.hero-section{
    padding:  160px 165px 250px 165px ;
    height: 700px;
    background: #014E56;
    background-image: url("../images/back-img1.png"),url("../images/CombinedShape.png"),url("../images/Oval.png"),url("../images/CombinedCopy.png"),url("../images/Rectangle.png"),url("../images/Combined\ Shape123.png");
    background-repeat: no-repeat, no-repeat,no-repeat, no-repeat, no-repeat, no-repeat;
    background-position-x:calc(0% - 0px),965px,965px,1063px,1250px,1075px;
    background-position-y:calc(50% - 107px),600px,600px,600px,600px,600px;
}

.hero-content{
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;
}
.hero-title{
    width: 670px;
    display: flex;
    color: #FFF;
    flex-direction: column;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
    
}

.t1{
    color: #F67E7E;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
}

.hero-strong{
    display: flex;
    width: 445px;
    height: 195px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 79px;
    flex-shrink: 0;
}
.find-line{
    width: 50px;
    height: 4px;     
    display: inline-block;
    flex-shrink: 0;
    background: #79C8C7;
}
.find-text{
    width: 417px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

/* hero-section-end */


/* service-section-start */

.service-section{
    padding: 140px 165px 140px 165px;
    background: #012F34;
}

.card-line1{
    width: 50px;
    height: 4px;     
    display: inline-block;
    flex-shrink: 0;
    background-color: #F67E7E;
}
.content-title{
    width: 445px;
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}
.card-content{
    display: inline-flex;
    align-items: flex-start;
    gap: 125px;
}
.content-strong{
    display: flex;
    width: 445px;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 54px;
    flex-shrink: 0;
}
.individuals{
    display: flex;
}
.individuals-span{
    width: 445px;
    color: #F67E7E;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}
.individuals-network{
    display: flex;
    margin-left: 23px;
    flex-direction: column;
    gap: 16px
    
    
}
.individuals-text{
    width: 445px;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    opacity: 0.8;
}
.individuals1{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.service-section{
    background-image: url("../images/logojon.png");
    background-repeat: no-repeat;
    background-position-x: calc(91% + 130px);
    background-position-y:calc(152% - 200px);
}
/* service-section-end */

/* leading-section-start */

.leading-section{
    padding: 140px 165px 245px 165px;
    background-color: #004047;
    background-image: url("../images/logochik.svg"),url("../images/perfectly.svg"),url("../images/perfectly.svg"),url("../images/perfectly.svg"),url("../images/kady.baker.png"),url("../images/aiysha.png"),url("../images/arthur.png"),url("../images/clarke.svg");
    background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat;
    background-position-x: calc(0% + 0px),369px,732px,1132px,373px,757px,1137px,1319px;
    background-position-y: calc(58% - 400px),290px,290px,290px,585px,585px,585px,751px;
}

.delivering-title{
    width: 842px;
    margin-left: 143px;
    text-align: center;
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}
.card1{
    display: flex;
    justify-content: center;
    margin-top: 56px;
    padding: 36px 105px;
    gap: 30px;
}
.delivering-text{
    width: 338px;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
}
.delivering-text1{
    width: 302px;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
}
.delivering-text2{
    width: 326px;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
}

.delivering-texts{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.kady{
    text-align: center;
}
.kady-name{
    width: 350px;
    color: #79C8C7;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}
.kady-product{
    width: 350px;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
    line-height: 18px; 
}

/* leading-section-end */

/* footer-start */

.footers{
    padding: 76px 260px 76px 263px;
    background-color:#F67E7E;
    background-image: url("../images/started.svg");
    background-repeat: no-repeat;
    background-position-x: calc(0% + 0px);
    background-position-y: calc(116% - 9px);
}

.footer-title{
    width: 500px;
    color: #012F34;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}
.footer-line{
    width: 153px;
    height: 48px;
    padding: 18px 14px;
    border-radius: 40px;
    border: 2px solid black;
    text-align: center;
    flex-shrink: 0;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 4px;
}
.footer-line:hover{
    background-color: #012F34;
    

}
.footer-link{
    color: #012F34;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}
.footer-link:hover{
    color: #FFF;
}
.footer-content{
    width: 920px;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    align-items: flex-start;
    gap: 260px;
    flex-shrink: 0;
}

/* footer-end */

.myteam-footer{
    padding: 48px 165px;
    background-color: #002529;
}

.hillcrest{
    width: 385px;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex-shrink: 0;
}
.footer-list{
    display: flex;
    text-align: center;
    list-style: none;
}
.footer-navlink{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}
.footer-navlink:hover{
    color: #F67E7E;
}
.hillcrest-footer{
    width: 542px;
    display: flex;
    justify-content: space-between;
}
.hillcrest-text{
    width: 445px;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    opacity: 0.6;
}
.faceboook{
    margin-left: 151px;
}
.faceboook:hover{
    background-color: #F67E7E;
}
.hillcrest-text1{
    
    width: 255px;
    color: #FFF;
    text-align: right;
    margin-top: 47px;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 166.667% */
    opacity: 0.6;
}

.reserved{
    width: 380px;
}


@media only screen and (max-width: 376px) {
    .header-list{
        display: none;
    }
    .find__content{
        width: 128px;
        height: 32px;
    }
    .find-link{
        display: none;
    }
    .hamburger-btn{
        display: block;
        background-color: #014E56;
    }
    .delivering{
        display: flex;
        flex-direction: column;
        background-image: url("../images/delivering-img-bg.svg");
        background-repeat: no-repeat;
        background-position: right bottom;
    }
    .hero-title{
        color: #FFF;
        text-align: center;
        font-family: Livvic;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; /* 100% */
    }
    .t1{
        color: #F67E7E;
        font-family: Livvic;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
    }
    .hero-card1{
        display: flex;
        justify-content: center;
        width: 327px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .hero-card2{
        display: flex;
        justify-content: center;
        width: 369px;
        padding-left: 24px;
        padding-right: 24px;
        background-image: url("../images/hero-card2-bg-imgg.svg");
        background-repeat: no-repeat;
        background-position: center bottom;
    }
    .find-text{
        color: #FFF;
        text-align: center;
        font-family: Livvic;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px; /* 186.667% */
    }
    .find-line{
        display: none;
    }
    .cardd{
        width: 240px;
    }
    .cards-section{
        padding-left: 24px;
        padding-bottom: 0;
        background-image: url("../images/build-bg-imggg.svg");
        background-repeat: no-repeat;
        background-position: right top;
    }
    .content-title{
        color: #FFF;
        font-family: Livvic;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 100% */
    }
    .card-line1{
        margin-top: 64px;
        margin-bottom: 32px;
    }
    .individuals-network{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
  
    .individuals{
        width: 327px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;
    }
    .individuals-span{
        width: 327px;
        display: inline-block;
        color: #F67E7E;
        text-align: center;
        font-family: Livvic;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; /* 155.556% */
    }
    .individuals-text{
        width: 327px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        text-align: center;
        font-family: Livvic;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px; /* 166.667% */
    }
    .delivering-title-text{
        width: 327px;
    }
    .delivering-title{
        color: #FFF;
        text-align: center;
        font-family: Livvic;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 100% */
    }
    .delivering-text-color{
        color: #79C8C7;
        font-family: Livvic;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
    }
    .delivering-text{
        color: #FFF;
        text-align: center;
        font-family: Livvic;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px; /* 166.667% */
    }
    .kady-name{
        color: #79C8C7;
        text-align: center;
        font-family: Livvic;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; /* 155.556% */
    }
    .kady-product{
        color: #FFF;
        text-align: center;
        font-family: Livvic;
        font-size: 13px;
        font-style: italic;
        font-weight: 500;
        line-height: 18px; /* 138.462% */
    }
    .delivering{
        background-image: none;
    }

    .leading-section{
        background-image: url("../images/leading-bg-imggg.svg") , url("../images/leadin-img-bggg.svg");
        background-position: left top, right bottom;
        background-repeat: no-repeat, no-repeat;
    }
    .footer-line{
        padding-left: 24px;
        padding-right: 24px;
        width: 327px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 0;
    }
    .footer-title{
        color: #012F34;
        text-align: center;
        font-family: Livvic;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 100% */
        margin: 0;
    }
    .footer-link{
        margin-top: 24px;
        margin-bottom: 83px;
    }
    .footer-line{
        background-image: url("../images/footeer-bgg-img.svg");
        background-repeat: no-repeat;
        background-position: left bottom;
    }
    .hillcrest-contents-text{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
    }
    .reserved{
        flex-direction: column;
        gap: 16px;
    }
}