@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-BoldItalic.woff2') format('woff2'),
    url('../fonts/Livvic-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-Bold.woff2') format('woff2'),
    url('../fonts/Livvic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-MediumItalic.woff2') format('woff2'),
    url('../fonts/Livvic-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/Livvic-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-Medium.woff2') format('woff2'),
    url('../fonts/Livvic-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-SemiBold.woff2') format('woff2'),
    url('../fonts/Livvic-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.about-section{
    padding: 73px 165px 120px 165px;
    background-color:#014E56;
    background-image: url("./images/companies.png");
    background-repeat: no-repeat;
    background-position-x: calc(50% + 720px);
    background-position-y: calc(100% - 0px);
}
.container{
    width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
}
.about-content{
    margin: 0 auto;
    align-items: center;
    display: flex;
}
.icon-logo{
    display: inline-block;
    vertical-align: middle;
}
.about-item{
    margin-left: 40px;
}
.about-list{
    margin-left: 40px;
    display: flex;
    text-align: center;
    list-style: none;
}
.about-navlink{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}
.about-link{
    width: 160px;
    height: 45px;
    padding: 18px 14px;
    border-radius: 40px;
    border: 2px solid white;
    text-align: center;
    margin-left: 560px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 4px;
}
.about-title{
    width: 350px;
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
}
.about-strong{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-shrink: 0;
}
.about-line{
    width: 50px;
    height: 4px;     
    display: inline-block;
    flex-shrink: 0;
    background-color:#F67E7E;
} 
.about-text{
    width: 668px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}
.about-companies{
    display: inline-flex;
    margin-top: 120px;
    margin-bottom: 120px;
    align-items: flex-start;
    gap: 30px;
}



/* about-section-end */


.directors{
    padding: 140px 165px 168px 165px;
    background-color: #004047;
    background-image: url("./images/icon33.png"),url("./images/marks1.png"),url("./images/marks1.png"),url("./images/marks1.png"),url("./images/marks1.png"),url("./images/follow.png"),url("./images/marks1.png"),url("./images/qwerqqe.png");
    background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat;
    background-position-x: calc(0% + 0px),334px,714px,1094px,334px,1094px,714px,1372px;
    background-position-y: calc(50% - 418px),476px,476px,476px,799px,799px,799px,936px;
}
.container{
    width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
}
.meet{
    width: 1100px;
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}
.meetthedirectors{
    display: flex;
    margin-top: 64px;
    flex-wrap: wrap;
    gap: 30px;
}
.nikitamarks{
    width: 350px;
    height: 253px;
    text-align: center;
    margin-bottom: 40px;
    padding: 148px 16px 56px 24px;
    flex-shrink: 0;
    background: #012F34;
    background-image: url("./images/nikitamarks.png"),url("./images/marks1.png");
    background-repeat: no-repeat,no-repeat;
    background-position-x: calc(50% + 5px),149px;
    background-position-y: calc(50% - 50px),224px;
}
.nikitamarks1{
    width: 350px;
    height: 253px;
    text-align: center;
    margin-bottom: 40px;
    padding: 148px 16px 56px 24px;
    flex-shrink: 0;
    background: #012F34;
    background-image: url("./images/cristian.png"),url("./images/marks1.png");
    background-repeat: no-repeat,no-repeat;
    background-position-x: calc(50% + 5px),149px;
    background-position-y: calc(50% - 50px),224px;
}
.nikitamarks2{
    width: 350px;
    height: 253px;
    text-align: center;
    margin-bottom: 40px;
    padding: 148px 16px 56px 24px;
    flex-shrink: 0;
    background: #012F34;
    background-image: url("./images/cruz.png"),url("./images/marks1.png");
    background-repeat: no-repeat,no-repeat;
    background-position-x: calc(50% + 5px),149px;
    background-position-y: calc(50% - 50px),224px;
}
.nikitamarks3{
    width: 350px;
    height: 253px;
    text-align: center;
    margin-bottom: 40px;
    padding: 148px 16px 56px 24px;
    flex-shrink: 0;
    background: #012F34;
    background-image: url("./images/drake.png"),url("./images/marks1.png");
    background-repeat: no-repeat,no-repeat;
    background-position-x: calc(50% + 5px),149px;
    background-position-y: calc(50% - 50px),224px;
}

.nikitamarks4{
    width: 350px;
    height: 253px;
    text-align: center;
    margin-bottom: 40px;
    padding: 148px 16px 56px 24px;
    flex-shrink: 0;
    background: #012F34;
    background-image: url("./images/griffin.png"),url("./images/marks1.png");
    background-repeat: no-repeat,no-repeat;
    background-position-x: calc(50% + 5px),149px;
    background-position-y: calc(50% - 50px),224px;
}
.nikitamarks5{
    width: 350px;
    height: 253px;
    text-align: center;
    margin-bottom: 40px;
    padding: 43px 16px 56px 24px;
    flex-shrink: 0;
    background: #012F34;
    background-image: url("./images/twitter.png"),url("./images/follow.png");
    background-repeat: no-repeat,no-repeat;
    background-position-x: calc(50% + 5px),149px;
    background-position-y: calc(70% - 0px),224px;
}
.meet-span{
    width: 302px;
    margin-bottom: 50px;
    color: #79C8C7;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}
.meet-text{
    width: 302px;
    color: #FFF;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    line-height: 25px;
}


/* techradar-start */

.techradar{
    padding: 140px 260px 151px 165px;
    background-color: #012F34;
    background-image: url("./images/our-some.svg");
    background-repeat: no-repeat;
    background-position-x: calc(0% - 0px);
    background-position-y: calc(50% - 152px);
}
.container{
    width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
}
.some{
    width: 1000px;
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}
.about455{
    margin-top: 61px;
}


.footers{
    padding: 76px 260px 76px 263px;
    background-color:#F67E7E;
    background-image: url("../images/started.svg");
    background-repeat: no-repeat;
    background-position-x: calc(0% + 0px);
    background-position-y: calc(116% - 9px);
}
.container{
    width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
}
.footer-title{
    width: 500px;
    color: #012F34;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}
.footer-line{
    width: 153px;
    height: 48px;
    padding: 18px 14px;
    border-radius: 40px;
    border: 2px solid black;
    text-align: center;
    flex-shrink: 0;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 4px;
}
.footer-link{
    color: #012F34;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}
.footer-content{
    width: 920px;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    align-items: flex-start;
    gap: 260px;
    flex-shrink: 0;
}

/* footer-end */

.myteam-footer{
    padding: 48px 165px;
    background-color: #002529;
}
.container{
    width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
}
.hillcrest{
    width: 385px;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex-shrink: 0;
}
.footer-list{
    width: 115px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style: none;
}
.footer-navlink{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}
.hillcrest-footer{
    width: 542px;
    display: flex;
    justify-content: space-between;
}
.hillcrest-text{
    width: 445px;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    opacity: 0.6;
}
.faceboook{
    margin-left: 151px;
}
.hillcrest-text1{
    
    width: 255px;
    color: #FFF;
    text-align: right;
    margin-top: 47px;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 166.667% */
    opacity: 0.6;
}

.reserved{
    width: 380px;
}